body {
    padding-top: 66px;
    overflow-y:hidden; 
    overflow-x: hidden;
    font-family: 微軟正黑體;
    /* 消除左右捲軸 */
}

#nav1 ul li {
    width: 100%;
    text-align: center;
    border-left: 2px solid #aaa;
    font-weight:bolder; 
}

#nav1 ul li:last-child {
    border-right: 2px solid #aaa;
}

#nav2 {
    height: 40px;
    background-color: rgb(253, 192, 112);
    margin-bottom: 30px;
}

.logo {
    height: 40px;
}

h6 {
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 10px;
    border: solid 2px;
    padding: 0 5px;
    float: left;
    letter-spacing: 5px;
    line-height: 25px;
}

.nav-item {
    font-size: 20px;
    line-height: 20px;
}

#nav2 p {
    line-height: 40px;
    letter-spacing: 5px;
}

.f-r h4 {
    display: inline-block;
    border-bottom: solid 7px #956134;
    transform: translate(-75px, 15px);
}

#content1 {
    height: 450px;
    position: relative;
    background-image: url("../img/bg-01.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
}

.f-r {
    width: 70%;
    float: right;
}

.f-r_top {
    margin-bottom: 30px;
}

.main1, .main2 {
    font-size: 16px;
    display: block;
    height: 50%;
    background-color: #D6CBB2;
    padding: 10px;
    line-height: 35px;
    letter-spacing: 3px;
}

#content2 {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

h3,
#content2 p {
    text-align: center;
}

.swiper-container {
    padding: 30px;
}

.swiper-slider {
    padding: 30px;
}
.swiper-slider .front {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.swiper-slider .back {
    width: 100%;
    margin: 0 auto;
}



.t-t {
    position: absolute;
    font-size: 36px;
    line-height: 300px;
    left: 50px;
    font-family:'FangSong';
    font-weight: bolder;
}

.tool {
    width: 100%;
    background-size: contain;
    margin: 0 auto;
}

#content3 {
    width: 100%;
    background-image: url('../img/drink-04.jpg');
    background-size: cover;
    padding: 15px;
    margin-bottom: 50px;
    font-family:'Microsoft JhengHei';
}

#content3 p {
    line-height: 12px;
    text-align: center;
}

.price {
    width: 250px;
    height: 90px;
    margin: 0 auto 20px auto;
    border: solid 2px;
    padding: 10px;
    border-style: double;
    line-height: 16px;
}

.content4-block {
    padding: 30px;
}

.content4-img {
    width: 100%;
    box-shadow: 5px 5px 15px rgba(88, 77, 54, 0.5);
    margin: 0 auto;
}
#content4 {
    widows: 70%;
    margin-bottom: 30px;
}
#content4 h4, #content4 p {
    text-align: center;
}
marquee h4 {
    display: inline-block;
}

.word {
    opacity: 0;
    width: 70%;
    position: absolute;
    bottom: 30px;
    background-color: rgba(252, 252, 252, 0.7);
    font-size: 24px;
    text-align: center;
    transition: 0.3s;
}

.content4-block:hover .word {   
    opacity: 1;
}

.footer {
    height: 100px;
    padding: 15px;
    font-size: 12px;
    line-height: 12px;
    background-color: #aaa;
    text-align: center;
}

hr {
    border-top: 2px solid rgba(20%, 20%, 20%, 1);
}

.box {
    max-width: 1130px;
    margin: 0 auto;
    background-color: #aaa;
    min-height: 300px;
    width: 400px;
    height: 300px;
}
.swiper-container:hover .front {
    box-shadow: 5px 5px 15px rgba(88, 77, 54, 0.3);
}
@media screen and (max-width: 992px) {
    /*當頁面寬度在992px以下則會改變排列方式*/

    #content1 {
        height: 650px;
        background-image: none;
            }
    #content3 {
        background-size: cover;
        background-position: 50% 0;
        }
}


@media screen and (max-width: 576px) {
    /*當頁面寬度在576px以下則會改變排列方式*/
    #content1 {
        height: 800px;
    }
    .t-t {
        position: absolute;
        font-size: 30px;
        line-height: 200px;
        left: 50px;
    }

}